<launch>

    <arg name="model" default="coco_detector"/>
    <arg name="item" default="person"/>

    <node name="detector" pkg="mr_cv" type="cv_publisher.py" >
        <param name="model" value="$(arg model)"/>
    </node>
    
    <node name="actuator" pkg="mr_cv" type="actuator.py" >
        <param name="item" value="$(arg item)" />
    </node>

</launch>